progress-bar {

  .completed {
    background-color: limegreen !important;
  }

  .label {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: black;
  }

  .progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 5px;
  }

  .progress-inner {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    height: 1em;
    border-radius: 5px;
    background-color: map-get($colors, primary);
    text-align: center;
  }

}
