<ion-content *ngIf="items.length !== 0">
  <progress-bar [progress]="itemsChecked"></progress-bar>
  <ion-list inset>
    <ion-item *ngFor="let item of items"
              (press)="showDetail(item)">
        <ion-checkbox item-left
                      [(ngModel)]="item.checked"
                      (ionChange)="itemChanged(item)">
        </ion-checkbox>
        <ion-label tappable>
          {{item.name}}
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content *ngIf="items.length === 0">
  <ion-label tappable>
    No items yet.
  </ion-label>
</ion-content>
