<ion-header>
  <ion-navbar>
    <ion-title>
      {{'contactUs' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{'sendFeedback' | translate}}</ion-list-header>
    <ion-item>
      <ion-icon name="logo-twitter" item-left></ion-icon>
      @ismaestro
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github" item-left></ion-icon>
      <a class="item" href="#"
         onclick="window.open('https://github.com/Ismaestro/Packing-Up', '_system', 'location=yes'); return false;">
        Github
      </a>
    </ion-item>
  </ion-list>
</ion-content>
