page-add-element {
  .modal-content {
    width:200px;
    height:300px;
    overflow: hidden;
    position:absolute;
    left:50%;
    top:30%;
    margin-left:-100px;
    margin-top:-50px;
    text-align: center;

    .action-button {
      margin-bottom: 4em;
    }
  }
}
