<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="settings"></ion-icon>
      {{'preferences' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>{{'languages' | translate}}</ion-label>
  <button ion-button color="light" (click)="setLanguage('en')">{{'english' | translate}}</button><br>
  <button ion-button color="light" (click)="setLanguage('es')">{{'spanish' | translate}}</button>
  <br>
  <br>
  <ion-label>{{'actions' | translate}}</ion-label>
  <button ion-button (click)="rateApp()">{{'rateApp' | translate}}</button><br><br>
  <button ion-button color="danger" (click)="showConfirm()">{{'resetList' | translate}}</button>
</ion-content>
