<ion-header>
  <ion-navbar>
    <ion-title>{{ action }} {{'item' | translate}}</ion-title>
    <ion-buttons end *ngIf="!isNew">
      <button ion-button (click)="deleteItem()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'selectCategory' | translate}}</ion-label>
      <ion-select [(ngModel)]="item.categoryId">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'name' | translate}}</ion-label>
      <ion-input text-right type="text" [(ngModel)]="item.name"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="save()">
    {{'save' | translate}}
  </button>
  <button ion-button block color="light"
          (click)="cancel()">
    {{'cancel' | translate}}
  </button>
</ion-content>
