<ion-header>
  <ion-navbar>
    <ion-title>{{ action | translate}} {{'item' | translate}}</ion-title>
    <ion-buttons end *ngIf="!isNew">
      <button ion-button (click)="deleteItem()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'selectCategory' | translate}}</ion-label>
      <ion-select [ngModel]="item.categoryId" (ionChange)="categorySelected($event)">
        <ion-option *ngFor="let category of categories" [value]="category.id">
          {{category.id | translate}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'name' | translate}}</ion-label>
      <ion-input #name text-right type="text" value="{{item.id | translate}}"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="save(name.value)">
    {{'save' | translate}}
  </button>
  <button ion-button block color="light"
          (click)="cancel()">
    {{'cancel' | translate}}
  </button>
</ion-content>
