<ion-header>
  <ion-navbar>
    <ion-title>{{ action }} Item </ion-title>
    <ion-buttons end *ngIf="!isNew">
      <button ion-button (click)="deleteItem()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input text-right type="text" [(ngModel)]="item.name"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="save()">Save</button>
</ion-content>
